<html>
<head>

<title>无标题文档</title>

</head>

<body>
<p align="center"><strong>北京精诚假期旅行社散客部导游报账单</strong><strong> </strong><br>
  <strong>????????</strong>??????????????????????????????????????????????????????????????????????????????????????????????????????<strong> </strong></p>
<div align="center">
  <table border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="105" colspan="2" valign="top"><br>
          <strong>日</strong><strong>? </strong><strong>期</strong><strong> </strong> </td>
      <td width="324" colspan="8" valign="top"><p>???? 月???? 日（广? 场） </p></td>
      <td width="310" colspan="10" valign="top"><p>????? 月????? 日（长? 城） </p></td>
      <td width="201" valign="top"><p>?????? 月??? 日（颐和园） </p></td>
    </tr>
    <tr>
      <td width="105" colspan="2" valign="top"><p align="center"><strong>人</strong><strong>? </strong><strong>数</strong><strong> </strong></p></td>
      <td width="324" colspan="8" valign="top"><p>&nbsp;</p></td>
      <td width="310" colspan="10" valign="top"><p>&nbsp;</p></td>
      <td width="201" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="31" rowspan="21" valign="top"><p align="center"><strong>景点</strong><strong> </strong></p></td>
      <td width="74" valign="top"><p>故宫</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="36" rowspan="12" valign="top"><p><strong>餐厅</strong> </p></td>
      <td width="84" colspan="2" valign="top"><p>餐厅</p></td>
      <td width="84" colspan="4" valign="top"><p>日期</p></td>
      <td width="36" valign="top"><p>单</p></td>
      <td width="38" colspan="2" valign="top"><p>现</p></td>
      <td width="57" colspan="2" valign="top"><p>人数</p></td>
      <td width="72" colspan="3" valign="top"><p>餐标</p></td>
      <td width="106" colspan="2" valign="top"><p>金额</p></td>
      <td width="201" rowspan="10" valign="top"><p><strong>备注（导游填写）：</strong></p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>景山</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>天坛</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>颐和园</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>八达岭</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>居庸关</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>长陵</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>香山</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>鸟巢</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>水立方</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="84" colspan="4" valign="top"><p>&nbsp;</p></td>
      <td width="36" valign="top"><p>&nbsp;</p></td>
      <td width="38" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="57" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="72" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="106" colspan="2" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>明皇宫</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="478" colspan="16" rowspan="2" valign="top"><p>以下理账计调填写：<br>
        现付餐费：????????? 签单餐费：????????? 合计餐费：</p></td>
      <td width="201" rowspan="11" valign="top"><p><strong>备注（理帐计调填写） </strong><br>
              <strong>1</strong><strong>、导游人头</strong>：<br>
        广场：<br>
        八达岭：<br>
        天坛：<br>
        合计：</p>
          <p><strong>2</strong><strong>、其他</strong></p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>圣水观音</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>海底世界</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="36" rowspan="9" valign="top"><p align="center"><strong>商店</strong> </p></td>
      <td width="48" valign="top"><p>商店</p></td>
      <td width="48" colspan="2" valign="top"><p>人数</p></td>
      <td width="24" valign="top"><p>现</p></td>
      <td width="24" valign="top"><p>单</p></td>
      <td width="83" colspan="3" valign="top"><p>流水</p></td>
      <td width="60" colspan="2" valign="top"><p>商店</p></td>
      <td width="48" colspan="2" valign="top"><p>人数</p></td>
      <td width="24" valign="top"><p>现</p></td>
      <td width="22" colspan="2" valign="top"><p>单</p></td>
      <td width="96" valign="top"><p>流水</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>恭王府</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="48" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="83" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="60" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="22" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="96" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="48" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="83" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="60" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="22" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="96" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="48" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="83" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="60" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="22" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="96" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="48" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="83" colspan="3" valign="top"><p>&nbsp;</p></td>
      <td width="60" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="48" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="24" valign="top"><p>&nbsp;</p></td>
      <td width="22" colspan="2" valign="top"><p>&nbsp;</p></td>
      <td width="96" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
      <td width="478" colspan="16" rowspan="4" valign="top"><p>以下理账计调填写：<br>
        实际人头：</p>
          <p>&nbsp;</p>
        <p>导游补人头： </p>
        <p>商店人头=实际人头+导游补人头=</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="74" valign="top"><p>&nbsp;</p></td>
      <td width="120" valign="top"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td width="193" colspan="2" valign="top"><p>以下理账计调填写：<br>
        现付门票：<br>
        签单门票：<br>
        合计门票：</p></td>
    </tr>
    <tr>
      <td width="738" colspan="20" valign="top"><p><strong>导游报账金额（理账计调填写）</strong>：</p></td>
      <td width="201" valign="top"><p><strong>理帐计调签字：</strong><strong> </strong><br>
              <strong>导游签字：</strong></p></td>
    </tr>
  </table>
</div>
<p>说明：1、此表请导游认真、如实填写，不得虚报。?? 2、请导游下团后必须来社理账，最晚下团三天之内，否则会有相应处罚 。</p>
</body>
</html>
