<html>
<head>

<title>无标题文档</title>

</head>

<body>
<p align="center">定 票 确 认 单 </p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="120" colspan="2" valign="top"><br>
      组团社 </td>
    <td width="156" valign="top"><p>天马国旅 </p></td>
    <td width="108" valign="top"><p>电话/传真 </p></td>
    <td width="264" colspan="3" valign="top"><p>020-83547131/83549492</p></td>
  </tr>
  <tr>
    <td width="120" colspan="2" valign="top"><p>精诚假期 </p></td>
    <td width="156" valign="top"><p>钟丽霞 </p></td>
    <td width="108" valign="top"><p>电话/传真 </p></td>
    <td width="264" colspan="3" valign="top"><p>020-36309266/ 62824434</p></td>
  </tr>
  <tr>
    <td width="276" colspan="3" valign="top"><p>票务：衣振海? </p></td>
    <td width="108" valign="top"><p>电话 </p></td>
    <td width="264" colspan="3" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="648" colspan="7" valign="top"><p>团号：G-0124A? 天马国旅? 单订票?? 2人 <br>
      请定1月30日：北京-广州?? T201次2张 <br>
      结算： （443+30）*2张=946元 <br>
      备注：取票人 “黄恬13533772692”1月28号取票！ <br>
    </p></td>
  </tr>
  <tr>
    <td width="97" valign="top"><p>合计大写 </p></td>
    <td width="396" colspan="4" valign="top"><p>&nbsp;</p></td>
    <td width="60" valign="top"><p>小写 </p></td>
    <td width="95" valign="top"><p>946</p></td>
  </tr>
  <tr>
    <td width="97" valign="top"><p>付款方式 </p></td>
    <td width="551" colspan="6" valign="top"><p>请于12月31号前汇清房款，不便之处，敬请谅解，谢谢支持！ </p></td>
  </tr>
  <tr>
    <td width="648" colspan="7" valign="top"><p>户??? 名：北京精诚假期旅行社有限公司 <br>
      开户银行：中国工商银行股份有限公司北京崇文支行永定门分理处 <br>
      账??? 号：0200001509000115451</p></td>
  </tr>
</table>
<p>注：团体票一经开出不得签转、更改、退票!<br>
    <img width="180" height="165" src="daoyouxingchengdan_clip_image002.jpg">以上行程及报价如无误请盖章回传确认，谢谢！ <br>
  组团社/盖章：???????????????????????????? 地接社/盖章：?????????????? <br>
  经? 手? 人：????????????????????????????? 经? 手? 人：钟丽霞 </p>
</body>
</html>
