<html>
<head>

<title>无标题文档</title>

</head>

<body>
<p>北京精诚假期导游行程单 </p>
<table border="1" cellspacing="0" cellpadding="0" width="730">
  <tr>
    <td width="60" valign="top"><br>
      组团社 </td>
    <td width="120" valign="top"><p>湛江国旅 </p></td>
    <td width="45" valign="top"><p>酒店 </p></td>
    <td width="193" valign="top"><p>北京工美酒店;</p></td>
    <td width="66" valign="top"><p>日? 期 </p></td>
    <td width="246" valign="top"><p>22/3-28/3北京天津六晚七 </p></td>
  </tr>
  <tr>
    <td width="60" valign="top"><p>人数 </p></td>
    <td width="120" valign="top"><p>42+1陪 </p></td>
    <td width="45" valign="top"><p>团号 </p></td>
    <td width="193" valign="top"><p>G-0322A<strong>(6</strong><strong>号车)</strong> </p></td>
    <td width="66" valign="top"><p>地? 陪 </p></td>
    <td width="246" valign="top"><p>陈律律 </p></td>
  </tr>
</table>
<p align="center"><strong>?? </strong>北京天津六晚七天游 </p>
<table border="1" cellspacing="0" cellpadding="0" width="732">
  <tr>
    <td width="48" valign="top"><br>
      天数 </td>
    <td width="50" valign="top"><p>日期 </p></td>
    <td width="548" valign="top"><p>行程 </p></td>
    <td width="28" valign="top"><p>早 </p></td>
    <td width="28" valign="top"><p>中 </p></td>
    <td width="28" valign="top"><p>晚 </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D1</p></td>
    <td width="50" valign="top"><p>22/3</p></td>
    <td width="548" valign="top"><p>早接K158/06：10分抵北京，早餐后参观世界最大的城市广场--<strong><u>天安门广场</u></strong>、<strong><u>人民英雄纪念碑，</u></strong>观<strong>“鸟蛋’</strong>-<strong><u>国家大剧院外景</u></strong><strong><u>（时间约1小时）</u></strong>观<strong><u>毛主席纪念堂（约1小时）</u></strong>（政策性关闲则观外景），游<strong><u>故宫紫禁城（约2.5小时）</u></strong>，（其中珍宝馆、钟表馆请客人自理费用20元/人），参观<strong><u>景山公园（约40分钟）</u></strong>。参观<strong><u>恭王府</u>（含门票）</strong>，观看庄严的<strong><u>降国旗仪式</u></strong>，<strong><u>王府井大街游览，东华门夜市</u></strong>，<strong><u>自费品尝</u></strong>各种京城小吃<strong> </strong></p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D2</p></td>
    <td width="50" valign="top"><p>23/3</p></td>
    <td width="548"><p>早餐后参观『<strong>玉器城</strong>』（约45分钟）,继后品尝『<strong>北京特产果脯</strong>』（约45分钟）。参观『<strong>同仁堂</strong>』（45分钟）。游览<strong><u>八达岭长城（约2.5小时）</u></strong>，游览<strong><u>奥林匹克公园</u></strong>，外观<strong><u>鸟巢场馆外景</u></strong>（可自购门票参观，50元/人自理），&quot;<strong>水立方&quot;外景</strong>（如开放可自购门票参观，自由活动约2.5小时，水立方30元/人自理） </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D3</p></td>
    <td width="50" valign="top"><p>24/3</p></td>
    <td width="548" valign="top"><p>早餐后游览<strong><u>颐和园（约2小时）</u></strong>，也可自费乘坐慈禧水道进入颐和园（如需乘坐请客人自费70元/人），途中前往参观『<strong>同仁堂</strong>』。途中车观<strong>中华世纪坛</strong><strong>外景</strong>，赠游<strong><u>军事博物馆（约1小时）（政策性开放，如不能正常进入参观，我社不做任何赔偿）</u></strong>。车观<strong>世贸天阶</strong>，<strong>CCTV总部大楼</strong>、<strong>新中央电视台；</strong> </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D4</p></td>
    <td width="50" valign="top"><p>25/3</p></td>
    <td width="548" valign="top"><p>早餐后游览<strong>天坛（含套票）</strong>（约1.5小时），车观菖蒲河公园、皇城根遗址，参观『鼓楼财神庙』（约45分钟），参观工艺品商店（约45分钟），前往新改建前门大街; </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D5</p></td>
    <td width="50" valign="top"><p>26/3</p></td>
    <td width="548" valign="top"><p>早餐后车赴天津（车程约1小时），游<strong><u>古文化街</u></strong>，继往<strong><u>南市食品街</u></strong>，<strong><u>法国大教堂外景</u></strong>外观世界最大的桥上摩天轮一一【<strong><u>天津之眼</u></strong>】.后参观【<strong><u>五大道租界地</u></strong>】天津小洋楼. 入住天津酒店<strong><u> </u></strong></p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D6</p></td>
    <td width="50" valign="top"><p>27/3</p></td>
    <td width="548" valign="top"><p>早餐后自由活动;(需安排客人早中晚餐)</p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>√ </p></td>
  </tr>
  <tr>
    <td width="48" valign="top"><p>D7</p></td>
    <td width="50" valign="top"><p>28/3</p></td>
    <td width="548" valign="top"><p>早餐后接团前往天津机场乘机ZH9784/12:45飞返深圳 </p></td>
    <td width="28" valign="top"><p>√ </p></td>
    <td width="28" valign="top"><p>&nbsp;</p></td>
    <td width="28" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="732" colspan="6" valign="top"><p>赠送：天安门集体彩照、烤鸭?? 宿：准三星酒店????? 餐：12正7早? 正餐15元 </p></td>
  </tr>
</table>
<p>接待注意事项：1全陪门票自理 廖华玲15875969519????? 2 房共安排42+1陪占床; 餐标15元请做足 (车身请放明显标志”6号车”)<br>
  3全程共安排进五个常规店+老乡店? ??????????????????4 此团含恭王府门票40元;<br>
  5 此团有档案局人员及记者随团;请接待好; ????????????6要求整批团每天行程安排内容要一致;请导游与导游之前沟通好; <br>
  7 天安门6部车的人员要合影照片,请安排好 <br>
  <strong>天津联系张瑞，进一个麻花店，安排一个免餐，签我社餐单，按标准正常签，第一联留给天津导游；</strong> </p>
<table border="1" cellspacing="0" cellpadding="0" width="734">
  <tr>
    <td width="734" valign="top"><table border="1" cellspacing="0" cellpadding="0" align="left" width="732">
      <tr>
        <td width="732" valign="top"><br>
              <strong>摄像马辉 15699836738 现付5元? </strong>?餐：775-780      251-253? 254-255门：4990-4992<br>
              <strong>商店：</strong>金肆维（免餐）+金定陵果脯+鼓楼貔貅+天坛同仁堂+博览城烫伤（全部签单）+老乡店现提80元/人，找杨飞13910072042 </td>
      </tr>
      <tr>
        <td width="732" valign="top"><ol>
          <li><strong>行程中免费的景点导游务必要走全；请导游仔细核对行程的航班时间，避免误机。 </strong></li>
          <li><strong>周一当天接团，毛主席纪念堂未走，后续行程一定补上，如因未补，产生扣款，导游承担！ </strong></li>
          <li><strong>若行程中含定陵、长陵、居庸关、圣水观音、明皇宫，必签单。</strong><strong>导游凭门票报账！！！ </strong></li>
          <li><strong>天津（找张瑞13299966791）上保险请将团号客人姓名、身份证号及赴天津的时间，提前一天传真到社里87866396；加天津交社里20元/人（全人数）。 </strong></li>
          <li><strong>加上天津、圆明园、国子监、电影城、富国海底、慈禧水道必须拿回回执单（否则重罚）。 </strong></li>
          <li><strong>拿到行程第一时间与司机、酒店、摄像公司及全陪、领队联系；散客必须每家签一张意见单，团队至少签三张以上意见单+全陪意见单。 </strong></li>
          <li><strong>我社滑车协议号为00996；缆车协议号：216?? 富国海底世界协议号0136；奥运人家83228179。胡同:83285578。 </strong></li>
          <li><strong>鼓楼三轮车：齐13910753632，现付5元/人； </strong></li>
          <li><strong>3</strong><strong>月1号开始，神话武林底价调整，A区25元/人，B区20元/人，包场10元/人，请签单时注明； </strong></li>
        </ol>
              <p><strong>金面王朝程熙:13910580174；自然博物馆:请导游提前一天预约:67027702，免费参观；国际大马戏:李波13488889071.</strong></p></td>
      </tr>
    </table>
        <p>餐厅<strong>、商店、司机:代振岐13601318291、李京川15901180228；?? 出现投诉问题：许婷13581922199? 房调：程瑶13810530596</strong> </p></td>
  </tr>
</table>
</body>
</html>
