<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Content-Language" content="zh-cn">
<title>订 房 确 认 单</title>
</head>

<body>

<p>　</p>
<p class="MsoNormal" align="center" style="text-align:center">
<span style="font-size: 26.0pt; font-family: 宋体">订</span><span style="font-size: 26.0pt">
</span><span style="font-size: 26.0pt; font-family: 宋体">房</span><span style="font-size: 26.0pt">
</span><span style="font-size: 26.0pt; font-family: 宋体">确</span><span style="font-size: 26.0pt">
</span><span style="font-size: 26.0pt; font-family: 宋体">认</span><span style="font-size: 26.0pt">
</span><span style="font-size: 26.0pt; font-family: 宋体">单</span></p>
<hr>
<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table1" height="0">
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">组团社</td>
		<td style="border-style: solid; border-width: 1px" colspan="2">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">电话传真</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">精诚假期</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">电话传真</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">酒店地址/电话</td>
		<td style="border-style: solid; border-width: 1px" colspan="3">　</td>
		<td style="border-style: solid; border-width: 1px" colspan="2">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">团号</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">总费用（大写）</td>
		<td style="border-style: solid; border-width: 1px" width="17%">　</td>
		<td style="border-style: solid; border-width: 1px" width="14%">总费用（小写）</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">结算信息</td>
		<td style="border-style: solid; border-width: 1px" width="87%" colspan="5">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">付款方式及信息</td>
		<td style="border-style: solid; border-width: 1px" width="87%" colspan="5">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">户名</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">　</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">开户行</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">　</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">银行账号</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">　</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
	<tr>
		<td style="border-style: solid; border-width: 1px" width="13%">　</td>
		<td style="border-style: solid; border-width: 1px" width="22%">　</td>
		<td style="border-style: solid; border-width: 1px" width="15%">　</td>
		<td style="border-style: solid; border-width: 1px" width="17%">　</td>
		<td style="border-style: solid; border-width: 1px" width="14%">　</td>
		<td style="border-style: solid; border-width: 1px" width="19%">　</td>
	</tr>
</table>
<hr>
<p class="MsoNormal"><span style="font-size: 14.0pt; font-family: 宋体">注：</span><span style="font-size: 14.0pt; font-family: 宋体; background: #E5E5E5">团体票一经开出不得签转、更改、退票<span lang="EN-US">!</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0pt">
<span style="font-size: 14.0pt; font-family: 宋体">以上行程及报价如无误请盖章回传确认，谢谢！</span></p>
<p class="MsoNormal"><span style="font-size: 14.0pt; font-family: 宋体">组团社<span lang="EN-US">/</span>盖章：<span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>地接社<span lang="EN-US">/</span>盖章：<span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</span></p>
<p class="MsoNormal"><span style="font-size: 14.0pt; font-family: 宋体">经<span lang="EN-US">&nbsp;
</span>手<span lang="EN-US">&nbsp; </span>人：<span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>经<span lang="EN-US">&nbsp; </span>手<span lang="EN-US">&nbsp; </span>人：钟丽霞<span lang="EN-US">
</span></span></p>
<h5>　</h5>

</body>

</html>
