{if $isheader == 1}
    <table style="width:100%; background-image:url({$rtvdir}/img/login-top-bg-small-updown.png); background-repeat:repeat-x;
    	border-collapse:collapse; border-spacing:0px;">
    <tr style="height:100%;padding:0px;">
        <td align="center" style="height:100%"> <span class="login-buttom-txt"> &nbsp; &copy; 
        	<script type="text/javascript">document.write((new Date()).getFullYear());</script> 
        	<b><a href="{$url}" style="color:#ABCAD3;font-weight:bold; font-size:12px" target="_blank">{$agentname}</a>  
        	Powered by  <a href="#-gmis" style="color:#ABCAD3;font-weight:bold; font-size:12px">{$appname}</a></b>. 
        	All rights reserved. </span>
        </td>
    </tr>
    </table>
{/if}
</body>
<script type="text/javascript">
//- create urlredir for this page.
//-- added by wadelau@ufqi.com on Thu Oct 24 11:35:21 CST 2013
(function(win){
 var url = '';
 var ipos = 0;
 var urlprefix = 'http://ufqi.com/naturedns/search?q=';
 var ndnstag = '#-'; //- tag userd in <a href="#-r/abbc">
 for(var i=0, l=document.links.length; i<l; i++){
 	url = document.links[i].href;
 	ipos = url.indexOf(ndnstag);
 	if(ipos > 0){
 		url = url.substring(ipos+1);
 		document.links[i].href = urlprefix + url;
	}
 }
 //window.alert(typeof console);
 if(typeof win.console !== 'undefined'){
 	win.console.log('-NatureDNS initiated.');
 	win.console.log('-gMIS , https://github.com/wadelau/gMIS , https://ufqi.com/dev/gmis');
 }
 })(window);
</script>

</html>
