<!DOCTYPE html><html>
<head>
<!-- other stuff -->
<!-- ! another place at comm/header.inc ! -->
<title>{$title} - {$agentname} - {$appchnname}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{$rtvdir}/comm/default.css?i={$randi}" />
<script type="text/javascript" language="javascript" src="{$rtvdir}/comm/GTAjax-5.4.js" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{$rtvdir}/comm/ido.js?i={$randi}" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{$rtvdir}/comm/ido_proj.js?i={$randi}" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{$rtvdir}/comm/popdiv.js" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{$rtvdir}/comm/navimenu/navimenu.js?i={$randi}" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="{$rtvdir}/comm/navimenu/navimenu.css?i={$randi}" />
<link href="{$rtvdir}/comm/skin.css?i={$randi}" rel="stylesheet" type="text/css">
</head>
<body>
