{include file='header.html'}
<style type="text/css">
<!--
body {
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	background-color: #1D3647;
}
-->
</style>
<table style="cellpadding:0px; cellspacing:0px; width:100%;border-collapse:collapse;">
    {if $isheader == 1}
       <tr>
        <td valign="top">
        <table style="cellpadding:0px; cellspacing:0px; width:100%;border-collapse:collapse;" class="login_top_bg" style="background-image: url(./img/login-top-bg-small.png);background-repeat: repeat-x;">
          <tr>
            <td width="33%" height="28px" style=""><a href="./" style="color:#ABCAD3;font-weight:bold; font-size:12px">&nbsp;{$agentname} </a></td>
            <td width="5%"> <div id="top_notice_div" style="postion:absolute; width:400px; top:20px; left:20px; text-align:center;z-index:99"></div> </td>
            <td width="62%" style="text-align:right;" class="login-buttom-txt"> {$welcomemsg} </td>
          </tr>
        </table>
        </td>
      </tr>
    {/if}
  <tr>
    <td valign="top">

     <table style="cellpadding:0px; cellspacing:0px; width:100%; height:98%;border-collapse:collapse;" class="login_bg">
      <tr>
        <td width="98%" height="{if $isheader == 0}390px%{else}699px{/if}" align="left">
		{$out_header}
			
        {$content}

		{$out_footer}
        </td>
      </tr>
     </table>

    </td>
  </tr>
 
</table>
{include file='footer.html'}
